body{
    background-color: rgb(127,255,212);
}
table,td,tr,th{
    border: 1px solid black;
}
.rojo{
    color: red;
}
.naranja{
    background-color: orange;
}
.amarillo{
    color: yellow;
}
.negro{
    background-color: black;
}
.verde{
    background-color: rgb(127,255,0);
   
}
table{
    margin: 0 auto;
}
h1{
    text-align: center;
}
.f1{
    width: 200px;
}
f2{
    width: 150px;
}